.dm-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}


.dm-modal > .dm-modal-window{
    background-color: #fefefe;
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 300px;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.dm-modal > .dm-modal-window > .dm-modal-window-header >span{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.dm-modal > .dm-modal-window > .dm-modal-window-header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    background-color: var(--main-brand-color);
    color: #fff;
    font-size: 18px;
    line-height: 80px;
    text-align: center;
}

.dm-modal > .dm-modal-window > Form{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .dm-modal > .dm-modal-window{
        width: 80%;
        height: auto;
    }
  }