.header{
    background-color: var(--main-brand-color);
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.header > h1{
    margin: 0;
    font-weight: bold;
    color: #fff;
}

.header > i{
    cursor: pointer;
    font-size: 18px;
}