body {
  /* overflow-y: hidden; */

  background-image: url("./img/background.png"); 

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;  

}
